@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

div.container-fluid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  height: 500px;
  border-radius: 20px;
  margin: 30px 40px;
}

.card > div:first-child {
  align-self: flex-start;
}

.card > div:last-child {
  align-self: flex-end;
}

div.palo {
  font-size: 100px;
}

div.valor {
  font-size: 200px;
}

button {
  width: 400px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  font-size: 30px;
}
